<template>
    <div>
        <h1>Break Punch</h1>
        <FormBreak />
    </div>
</template>

<script>
    import FormBreak from '@/components/FormBreak.vue'

    export default {
        name: 'Break',
        components: {
            FormBreak
        }
    }
</script>