<template>
    <div>
        <h1>Check-In Punch</h1>
        <FormCheckIn />
    </div>
</template>

<script>
    import FormCheckIn from '@/components/FormCheckIn.vue'

    export default {
        name: 'CheckIn',
        components: {
            FormCheckIn
        }
    }
</script>









