<template>
    <div>
        <form id="check-out" action="/check-out" method="post" @submit="checkForm">
            <p id="error" v-if="errors.length">
                <b>Errors:</b>
                <ul>
                    <li v-for="error in errors" :key="error.id">{{ error }}</li>
                </ul>
            </p>
            <div>
                <el-label for="code">Employee Code:</el-label>
                <el-input type="text" id="code" v-model="code" placeholder="Example: 125288" maxlength="6"></el-input>
            </div>
            <div>
                <el-label for="time">Current time:</el-label>
                <el-input type="text" id="time" v-model="time" readonly required></el-input>
            </div>
            <p id="messages" v-if="messages.length">
                <b v-for="m in messages" :key="m.id">{{ m }}</b>
            </p>
            <button type="submit">Get Out</button>
        </form>
    </div>
    
</template>

<script>
    export default {
        name: 'FormCheckOut',
        data (){
            return {
                time: this.getNowConfig(),
                errors: [],
                messages: [],
                code: null,
            }
        },
        methods: {
            getNowConfig: function() {
                setInterval(()=>{
                    const today = new Date();
                    const date = today.getFullYear()+'-'+(today.getMonth()+1)+'-'+today.getDate();
                    const time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    const dateTime = date +' '+ time;
                    this.timestamp = dateTime;
                    this.time = this.timestamp;
                }, 1000);
            },
            checkForm: function(e){
                this.errors = [];
                this.messages = [];

                if(this.code){
                    return this.submit(e);
                }

                if(!this.code){
                    this.errors.push('The CODE field is required');
                }

                e.preventDefault();
            },
            submit: function(e){
                e.preventDefault();

                let verify_storage = JSON.parse(localStorage.getItem(this.code));

                if(!verify_storage || verify_storage.status === 0){
                    this.errors.push('You must register a Check-In');
                }else{
                    let data = {
                        'code': this.code,
                        'time': this.time,
                        'status': 0
                    };
                    
                    let dataHistory = {
                        'type': 'Check-Out',
                        'code': this.code,
                        'name': this.name,
                        'time': this.time,
                    };
                    
                    localStorage.setItem(this.code, JSON.stringify(data));
                    localStorage.setItem('history-check-out-' + this.time, JSON.stringify(dataHistory));

                    this.messages.push('Goodbye!');

                    this.code = null;
                }
            }
        }
    }
</script>

<style scoped>
    form {
        max-width: 400px;
        margin: auto;
    }
    form div{
        margin: 5px;
    }
    form button{
        display: inline-block;
        line-height: 1;
        min-height: 40px;
        white-space: nowrap;
        cursor: pointer;
        color: #67c23a;
        background: #f0f9eb;
        border: 1px solid #dcdfe6;
        border-color: #c2e7b0;
        -webkit-appearance: none;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        outline: 0;
        margin: 0;
        -webkit-transition: .1s;
        transition: .1s;
        font-weight: 500;
        padding: 12px 20px;
        font-size: 14px;
        border-radius: 4px;
        
    }
    form button:hover {
        background: #67c23a;
        border-color: #67c23a;
        color: #fff;
    }
    #error {
        background-color: #f79d9d;
        padding: 10px;
        font-size: 13px;
    }
    #messages {
        background-color: rgb(225, 243, 216);
        padding: 10px;
        font-size: 13px;
    }
</style>